header, main, nav, footer, figure, figcaption, aside, section, article { display: block; }

body { background-color: #9EC5E3;       
background-repeat: no-repeat; margin-top: 180px;}
#wrapper { align-content: center; width: 80%; background-color: #9EC5E3; min-width: 960px; max-width: 2048px; }
header { text-align: center; ; align-content: center; }
h1 { margin-top: 10; margin-bottom: -10px; background-color: #9EC5E3; align-content: center; margin-left: 290px;
	 background-position: right;
	 background-repeat:repeat ;
	 	 line-height: 200%;
	  font-family: Georgia, "Times New Roman", serif; font-weight: bold;}
nav { padding: 20px; float: left; width: 160px; background-color: #9EC5E3; margin-top: -30px;}
main {
	background-color: #FFFFFF;
	margin-left: 350px;
	padding-top: 15px;
	padding-right: 100px;
	padding-bottom: 50px;
	padding-left: 30px;
	display: inline-block;
	margin-top: -190px;
}
h2 { color: #262F36; font-family: Georgia, "Times New Roman", serif; text-shadow: 1px 1px 1px #CCCCCC; margin-left: 100px; }
img { width: 90px; height: 90px; float: left; margin-right: 30px; margin-bottom: 0px; margin-top: 35px; margin-left: 15px; }
ul { list-style-image: url("bullet.png"); margin: 0px; padding-left: 0px; font-size: 1.2em; }
nav  {  text-decoration: none; background-color: #90C7E3; font-weight: bold; margin-left: 30px; }
nav :link { color: #000033; }
nav :visited { color: #344873; }
nav :hover {color: #FFFFFF; }
footer{ margin-left: 350px; background-color: #FFFFFF; color: #262F36; 
text-align: center;
	 font-style: italic;
	 font-size: .75em; 
	 padding: 0px; }
collin {color: aliceblue;}
mobile { display: none;}




@media only screen and (max-width: 64em) {
	header {margin-top: -40px;}
	body { margin: 0; background-color: #FFFFFF; }
	#wrapper { min-width: 0; width: auto; box-shadow: none; }
	main { margin-left: 0; }
	nav { float: none; width: auto; text-align: center; padding: 0.5em; }
	nav li { display: inline; padding-top: 0.25em; padding-bottom: 0.25em; padding-left: 0.75em; padding-right: 0.75em; }
	footer { margin-left: 0; } }
	
	@media only screen and (max-width : 37.500em ){
		header {align-content: center; }
	h1 { margin-top: 0px; margin-left: 25px; padding-top: 30px;
 font-size: 1em;
 text-align: left;
 } 
h3 { font-size: 100%; margin-bottom: 30px; padding-top: 80px; }
 p { font-size: 90%; }
 figure { display: none;}
 nav, nav ul, nav li { padding: 0px;  margin-top: 50px; margin-bottom: auto;
 list-style-type: none; }
 nav li { display: block; }
 nav a { display: block; padding: 0.5em 0;
 border-bottom: 2px ridge #00005D; }
}
